/*
* 
* 样式编写必须使用BEM规范，方便团队维护以及统一
* BEM规范 http://getbem.com/introduction/
*/
@import '../mixins/variable.scss';

.menu {
  height: 100px;
  &--ix {
    padding-bottom: 40px;
  }
}
.menu__body {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100px;
  color: $color-gray;
  font-size: $font-size-sm;
  background: $color-bg;
  border-top: $color-border-blue solid 1px;
  &--ix {
    padding-bottom: 40px;
  }
}
.menu__icon {
  width: 48px;
  height: 42px;
  margin-bottom: 11px;
}
.menu__nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--choose {
    color: $color-text-title;
  }
}
